https://data.cityofnewyork.us/Public-Safety/Motor-Vehicle-Collisions-Crashes/h9gi-nx95

### Download scripts have been taken and/or amended from code provided in Pre-Req Notebook from tutorials

In [1]:
from urllib.request import urlretrieve
import os

In [2]:
output_relative_dir = '../raw_data/'
if not os.path.exists(output_relative_dir):
    os.makedirs(output_relative_dir)

### Making directories for the different data we're downloading

In [3]:
for target_dir in ('tlc_yellow', 'tlc_green', 'fhv', 'hvfhv'):
    if not os.path.exists(output_relative_dir + target_dir):
        os.makedirs(output_relative_dir + target_dir)

In [4]:
'''# Creating directory for tlc_data:
if not os.path.exists(output_relative_dir + 'tlc_yellow'):
    os.makedirs(output_relative_dir + 'tlc_yellow')'''

"# Creating directory for tlc_data:\nif not os.path.exists(output_relative_dir + 'tlc_yellow'):\n    os.makedirs(output_relative_dir + 'tlc_yellow')"

### Download script for 2022 Yellow Taxi Data

Only 5 months of data available for 2022

In [9]:
YEAR = '2022'
MONTHS = range(1, 5)
URL_TEMPLATE = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_"#year-month.parquet

In [10]:
# data output directory is `data/tlc_data/`
# output_dir points to raw_data directory
# Code below creates the path for the downloaded data to go in
tlc_output_dir = output_relative_dir + 'tlc_yellow'

for month in MONTHS:
    # 0-fill i.e 1 -> 01, 2 -> 02, etc
    month = str(month).zfill(2) 
    print(f"Begin month {month}")
    
    # generate url
    url = f'{URL_TEMPLATE}{YEAR}-{month}.parquet'
    # generate output location and filename
    output_dir = f"{tlc_output_dir}/{YEAR}-{month}.parquet"
    # download
    urlretrieve(url, output_dir) 
    
    print(f"Completed month {month}")

Begin month 01
Completed month 01
Begin month 02
Completed month 02
Begin month 03
Completed month 03
Begin month 04
Completed month 04

### Download script for 2022 Green Taxi Data

In [11]:
tlc_output_dir = output_relative_dir + 'tlc_green'
URL_TEMPLATE = "https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_"

for month in MONTHS:
    month = str(month).zfill(2)
    print(f"Begin month {month}")
    
    url = f'{URL_TEMPLATE}{YEAR}-{month}.parquet'
    output_dir = f"{tlc_output_dir}/{YEAR}-{month}.parquet"
    urlretrieve(url, output_dir)
    
    print(f"Completed month {month}")

Begin month 01
Completed month 01
Begin month 02
Completed month 02
Begin month 03
Completed month 03
Begin month 04
Completed month 04

### Download script for property sales data (NYC Open Data)

In [12]:
if not os.path.exists(output_relative_dir + 'property_data'):
    os.makedirs(output_relative_dir + 'property_data')
    
property_output_dir = '../raw_data/property_data/'

In [13]:
boroughs = ['manhattan', 'bronx', 'brooklyn', 'queens', 'statenisland']
#manhattan.xlsx

URL_TEMPLATE = "https://www1.nyc.gov/assets/finance/downloads/pdf/rolling_sales/rollingsales_"

for borough in boroughs:
    print(f"Begin borough {borough}")
          
    url = f'{URL_TEMPLATE}{borough}.xlsx'
    output_dir = f"{property_output_dir}{borough}.xlsx"
    urlretrieve(url, output_dir)
    
    print(f"Completed borough {borough}\n")

Begin borough manhattan
Completed borough manhattan

Begin borough bronx
Completed borough bronx

Begin borough brooklyn
Completed borough brooklyn

Begin borough queens
Completed borough queens

Begin borough statenisland
Completed borough statenisland

# *NOTE*
Here, please refer to step ___ in the ReadME - I manually deleted the first _ rows of the excel spreadsheet, since it wasn't able to be read in properly via read_excel. Instructions on what rows to delete and how are in the ReadME

In [14]:
import pandas as pd

In [16]:
pd.read_excel('../raw_data/property_data/bronx.xlsx')

,Bronx Rolling Sales. All Sales From August 2021 - July 2022,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,PTS Sales Data as of 08/10/2022,Unnamed: 20
0,"For sales prior to the Final Roll, Neighborhoo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Building Class Category is based on Building C...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Note: Condominium and cooperative sales are on...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASEMENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
4,2,BATHGATE,01 ONE FAMILY DWELLINGS,1,3037,101,NaN,S0,443 EAST 180 STREET,NaN,...,1,2,3,1293,2820,1952,1,S0,720000,2022-02-23 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7650,2,WOODLAWN,14 RENTALS - 4-10 UNIT,2A,3376,58,NaN,S4,4277 KATONAH AVENUE,NaN,...,4,1,5,2125,3780,1930,2,S4,800000,2022-01-19 00:00:00
7651,2,WOODLAWN,22 STORE BUILDINGS,4,3377,59,NaN,K4,4299 KATONAH AVENUE,NaN,...,2,5,7,6000,8125,1931,4,K4,4100000,2021-12-07 00:00:00
7652,2,WOODLAWN,22 STORE BUILDINGS,4,3385,5,NaN,K4,4300 KATONAH AVENUE,NaN,...,2,2,4,2330,2425,1931,4,K4,0,2022-05-17 00:00:00
7653,2,WOODLAWN,29 COMMERCIAL GARAGES,4,3374,1,NaN,G1,235 EAST 233RD STREET,NaN,...,0,1,1,3283,1160,1931,4,G1,930000,2021-12-10 00:00:00
7654,2,WOODLAWN,29 COMMERCIAL GARAGES,4,3395,63,NaN,G1,4219 WEBSTER AVENUE,NaN,...,0,1,1,10593,2574,1931,4,G1,3000000,2021-12-17 00:00:00